<%= form_for(@participation) do |f| %>
  <%= f.hidden_field(:athlete_id, :value => @participation.athlete.id) %>
  <%= f.hidden_field(:result_id, :value => @participation.result.id) %>
  <fieldset> 
    <ol>   
      <li><%= f.label(:participation_type) %><%= f.text_field(:participation_type) %></li></ol></fieldset> 
  <fieldset class="submit">
    <%= f.submit('claim it')%></fieldset>
<% end %>
