<%= form_for(@participation, :remote => true) do |f| %>
  <%= f.hidden_field(:user_id, :value => @participation.user.id) %>
  <%= f.hidden_field(:result_id, :value => @participation.result.id) %>
  <fieldset> 
    <ol>   
      <li>
        <%= f.label(:participation_type) %>
        <%= f.select(:participation_type, @participation_types.collect {|l| [ l.description, l.id ] }, { :include_blank => true }) %></li></ol></fieldset> 
  <fieldset class="submit">
    <%= f.submit('claim it')%></fieldset>
<% end %>
