<%= form_for(@race) do |f| %>
  <% if @race.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@race.errors.count, "error") %> prohibited this race from being saved:</h2>

      <ul>
      <% @race.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.label :race_on %><%= f.text_field :race_on, :class => 'calendar' %><br/>
  <%= f.label :name %><%= f.text_field :name %><br/>
  <%= f.label :location %><%= f.text_field :location %><br/>
  <%= f.label :race_type %><%= f.select(:race_type, @race_types.collect {|l| [ l.description, l.id ] }, { :include_blank => true }) %><br/>
  <%= f.label :distance %><%= f.select(:distance, @distances.collect {|l| [ l.description, l.id ] }, { :include_blank => true }) %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
