<%= simple_form_for(@race, html: {class: 'form-horizontal'}) do |f| %>
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3><%= @race.new_record? ? 'new' : 'update' %> race</h3>
    </div>
    <div class="modal-body">
        <%= f.input(:race_on, as: :string, input_html: {class: 'calendar', value: Date.today.strftime("%Y-%m-%d"), 'data-date-format' => "yyyy-mm-dd"}) %>
        <%= f.input :name %>
        <%= f.input :location %>
        <%= f.input :race_type, collection: @race_types, value_method: 'id', label_method: 'description' %>
        <%= f.input :distance, collection: @race_distances, value_method: 'code', label_method: 'description' %>
        <fieldset>
            <legend>other distance</legend>
            <%= text_field_tag :other_distance %> 
            <%= select_tag :other_distance_unit, "<option value=\"km\">kilometers</option><option value=\"mi\">miles</option>".html_safe %>
        </fieldset>
    </div>
    <div class="modal-footer">
        <%= f.button :submit, :class => 'btn btn-primary' %>
    </div>
<% end %>
