<h3><%= @race.new_record? ? 'new' : 'update' %> race</h3>
<%= form_with(model: @race, local: true) do |f| %>
    <div class="form-group">
        <%= f.label(:race_on) %>
        <%= f.text_field(:race_on, class: 'form-control') %>
    </div>
    <div class="form-group">
        <%= f.label(:name) %>
        <%= f.text_field(:name, class: 'form-control') %>
    </div>
    <div class="form-group">
        <%= f.label(:location) %>
        <%= f.text_field(:location, class: 'form-control') %>
    </div>
    <div class="form-group">
        <%= f.label(:race_type) %>
        <%= f.collection_select(:race_type, Lookup.list_for('race_type'), :id, :description, { include_blank: true }, class: 'form-control') %>
    </div>
    <div class="form-group">
        <%= f.label(:distance) %>
        <%= f.collection_select(:distance, Lookup.list_for('race_dist'), :id, :description, { include_blank: true }, class: 'form-control') %>
    </div>

    <fieldset>
        <legend>other distance</legend>
        <%= text_field_tag(:other_distance, class: 'form-control') %>
        <%= select_tag :other_distance_unit, "<option value=\"km\">kilometers</option><option value=\"mi\">miles</option>".html_safe %>
    </fieldset>

    <%= f.button :submit, class: 'btn btn-primary' %>
<% end %>
