<%= form_for(@race) do |f| %>
  <%= form_errors(@race.errors) %>
  <fieldset>   
    <ol>   
    <li><%= f.label :race_on %><%= f.text_field :race_on, :class => 'calendar' %></li>
    <li><%= f.label :name %><%= f.text_field :name %></li>
    <li><%= f.label :location %><%= f.text_field :location %></li>
    <li><%= f.label :race_type %><%= f.select(:race_type, Lookup.list_for('race_type').collect {|l| [ l.description, l.id ] }, { :include_blank => true }) %></li>
    <li><%= f.label :distance %><%= select_tag(:distance, options_for_select(Lookup.list_for('race_dist').collect {|l| [ l.description, l.code ] }), { :include_blank => true }) %>
    <span><%= text_field_tag :other_distance %> <%= select_tag :other_distance_unit, "<option value=\"km\">kilometers</option><option value=\"mi\">miles</option>".html_safe %></span></li>
    </ol>
  </fieldset>

  <fieldset class="submit">
    <%= f.submit %>
  </fieldset>
<% end %>

<% if @race.id %>
  <script type="text/javascript" charset="utf-8">
    jQuery(document).ready(function() {
      validate('edit_race', {
        'race[name]': "required",
        'race[race_on]': "required"
      });
    });
  </script>
<% else %>
	<script type="text/javascript" charset="utf-8">
	  $(document).ready(function() {
			$('#other_distance').parent().hide();
			$('select#distance').change(function() {
				var s = $('select#distance option:selected').text();
				if (s === 'other') {
					$('#other_distance').parent().show();
				} else {
					$('#other_distance').parent().hide();
				}
			});
	    validate('new_race', {
	      'race[name]': "required",
	      'race[race_on]': "required"
	    });
	  });
	</script>
<% end %>
