<table class="table table-striped table-condensed" width="100%">
    <thead>
    <tr>
        <th><%= sortable('last_name', 'name', true) %></th>
        <th><%= sortable('overall_place', 'rank', true) %></th>
        <th><%= sortable('div', 'div', true) %></th>
        <th><%= sortable('points', 'points', true) %></th>
        <th><%= sortable('grade', 'grade', true) %></th>
        <th colspan="2">&nbsp;</th></tr>
    </thead>
    <tbody>
<% @results.each do |result| %>
    <tr class="<%= cycle('normal', 'stripe') %>">
        <%= render(:partial => 'results/result_row', :locals => { :result => result }) %>
        <td>
            <div class="btn-group">
                <a class="btn" href="#">...</a>
                <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <%= link_to('this is me', new_participation_path(:user => current_user.id, :result => result, :type => 'me'), :class => 'get') %>
                    <%= link_to('this is a friend', new_participation_path(:user => current_user.id, :result => result, :type => 'fr'), :class => 'get') %>
                    <%= link_to('this is my rival', new_participation_path(:user => current_user.id, :result => result, :type => 'ri'), :class => 'get') %>
                    <%= link_to('this is a teammate', new_participation_path(:user => current_user.id, :result => result, :type => 'tm'), :class => 'get') %>
                </ul>
            </div>
            <!--
            <div id="claim_link_<%= result.id %>"><%= claim_result_link(result) %></div>
            -->
        </td>
        <td><div id="claims_<%= result.id %>"><%= result.claims_for_user(current_user) %></div></td>
    </tr>
    </tbody>
<% end %>
</table>
<%= paginate @results %>