<!-- hidden new race form -->
<div id="race-form" class="modal fade" style="display:none;"></div>

<h1><% params[:q].blank? ? 'found races' : 'recent races' %></h1>

<table width="100%" class='table table-hover'>
    <tr>
        <th><%= sortable @race_search_params, 'name' %></th>
        <th><%= sortable @race_search_params, 'location' %></th>
        <th>distance</th>
        <th><%= sortable @race_search_params, 'race_on' %></th>
        <th colspan="2">&nbsp;</th>
    </tr>

    <% @races.each do |race| %>
    <tr>
        <td><%= link_to(race.name, race) %></td>
        <td><%= race.location %></td>
        <td><%= race.distance_description %></td>
        <td><%= race.race_on %></td>
        <% if policy(race).edit? %>
            <td><%= link_to(image_tag('edit.png', size: '20x20', title: 'edit ' << race.name), edit_race_path(race)) %></td>
        <% else %>
            <td>&nbsp;</td>
        <% end %>

        <% if policy(race).destroy? %>
            <td>
                <%= link_to(race_path(race), method: :delete, confirm: "really delete #{race.name}?") do %>
                    <i class="icon-remove"></i>
                <% end %>
            </td>
        <% else %>
            <td>&nbsp;</td>
        <% end %>

    </tr>
    <% end %>
</table>

<%= paginate @races, remote: true %>
<br />

<% if policy(Race).create? %>
    <%= link_to(new_race_path, class: 'btn btn-primary') do %>
        <span class="icon-plus"></span>
        add a new race
    <% end %>
<% end %>
