<!-- hidden new race form -->
<div id="race-form" class="modal fade" style="display:none;"></div>

<h1><% params[:search].blank? ? 'found races' : 'recent races' %></h1>

<table width="100%" class='table table-hover'>
    <tr>
        <th><%= sortable "name" %></th>
        <th><%= sortable "location" %></th>
        <th>distance</th>
        <th><%= sortable "race_on" %></th>
        <th>&nbsp;</th>
    </tr>

    <% @races.each do |race| %>
    <tr>
        <td><%= link_to(race.name, race) %></td>
        <td><%= race.location %></td>
        <td><%= race.distance_description %></td>
        <td><%= race.race_on %></td>
        <% if can? :edit, race %>
            <td><%= link_to(image_tag('edit.png', :size => '20x20', :title => 'edit ' << race.name), edit_race_path(race), :remote => 'true') %></td>
        <% else %>
            <td>&nbsp;</td>
        <% end %>
    </tr>
    <% end %>
</table>

<%= paginate @races, :remote => true %>
<br />

<% if can? :create, @race %>
    <%= link_to(new_race_path, :class => 'get btn btn-large btn-primary') do %>
        <i class="icon-plus icon-white"></i>
        add a new race
    <% end %>
<% end %>
