<h1>Listing races</h1>

<%= form_tag(races_path, :method => 'get') do %>
  <%= hidden_field_tag :direction, params[:direction] %>
  <%= hidden_field_tag :sort, params[:sort] %>
  <%= search_field_tag(:search, params[:search], :size => 40) %>
  <%= submit_tag("Search", :name => nil) %>
<% end %><p/>

<table>
  <tr>
    <th><%= sortable "name" %></th>
    <th><%= sortable "location" %></th>
    <th><%= sortable "distance" %></th>
    <th><%= sortable "race_on" %></th>
  </tr>

<% @races.each do |race| %>
  <tr>
    <td><%= link_to(race.name, race) %></td>
    <td><%= race.location %></td>
    <td><%= Lookup.find(race.distance.to_i).description if race.distance %></td>
    <td><%= race.race_on %></td>
    <% if can? :edit, race %>
      <td><%= link_to 'edit', edit_race_path(race) %></td>
    <% end %>
  </tr>
<% end %>
</table>

<%= paginate @races %>
<br />

<% if can? :create, @race %>
  <%= link_to 'Add a race', new_race_path %>
<% end %>
