<script type="text/javascript">
    $(function() {
        var MALE_COLOR   = 'rgba(200, 15, 35, 1)';
        var FEMALE_COLOR = 'rgba(35, 15, 200, 1)';
        var ctx = $('#results-chart');
        new Chart(ctx, {
            type: 'scatter',
            data: {
                datasets: [{
                    label: 'male',
                    pointBackgroundColor: MALE_COLOR,
                    pointStyle: "rect",
                    pointRadius: 5,
                    data: [<%= series_data(@race.results.male) %>]},
                {
                    label: 'female',
                    pointBackgroundColor: FEMALE_COLOR,
                    pointStyle: "circle",
                    pointRadius: 5,
                    data: [<%= series_data(@race.results.female) %>]}]
            },
            options: {
                tooltips: {
                    callbacks: {
                        label: function(tooltipItem, data) {
                            var value = data.datasets[0].data[tooltipItem.index];
                            var label = data.labels[tooltipItem.index];
                            var point = data.datasets[tooltipItem.datasetIndex].data[tooltipItem.index];
                            return point.name + ': ' + point.y + ' minutes';
                        }
                    }
                },
                legend: {
                    labels: {
                        usePointStyle: true,
                        generateLabels: function(chart) {
                            labels = Chart.defaults.global.legend.labels.generateLabels(chart);
                            labels[0].fillStyle = MALE_COLOR;
                            labels[1].fillStyle = FEMALE_COLOR;
                            return labels;
                        }
                    }
                },
                scales: {
                    xAxes: [{
                        type: 'linear',
                        scaleLabel: { display: true, labelString: 'Age' }
                    }],
                    yAxes: [{
                        type: 'linear',
                        scaleLabel: { display: true, labelString: 'Minutes' }
                    }]
                }
            }
        });
    }); // end ready()
</script>

<% if @race.results.empty? %>
    <div class="card">
        <div class="card-header">load results</div>
        <div class="card-body">
            <%= render(partial: 'results/load_form', locals: { race: @race }) %>
        </div>
    </div> <!-- end .card -->
<% else %>
    <div class="row mb-2">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <div class="result-summary-value-sm"><%=h @race.name %></div>
                    <%=h @race.description %>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-4">
                            <div class="result-summary-label">finishers</div>
                            <div class="result-summary-value"><%=h @race.finisher_count %></div>
                        </div>
                        <div class="col-4">
                            <div class="result-summary-label">average male time]</div>
                            <div class="result-summary-value"><%= seconds_to_time(@race.results.male.average(:gun_time).to_i) %></div>
                        </div>
                        <div class="col-4">
                            <div class="result-summary-label">average female time</div>
                            <div class="result-summary-value"><%= seconds_to_time(@race.results.female.average(:gun_time).to_i) %></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-8 offset-2">
            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#results-chart-container" role="tab" aria-controls="pills-home" aria-selected="true">chart</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#results-list-container" role="tab" aria-controls="pills-profile" aria-selected="false">list</a>
                </li>
            </ul>
            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="results-chart-container" role="tabpanel" aria-labelledby="pills-home-tab">
                    <canvas id="results-chart" width="500" height="500"></canvas>
                </div>
                <div class="tab-pane fade" id="results-list-container" role="tabpanel" aria-labelledby="pills-profile-tab">
                    <%= render(partial: 'results/results', locals: { race: @race }) %>
                </div>
            </div>
        </div>
    </div>
<% end %>
