<%= simple_form_for(@user, html: {class: 'form-horizontal'}, remote: true) do |f| %>
    <div class="modal-header">
        <a class="close" data-dismiss="modal">×</a>
        <h3>register</h3>
    </div>
    <div class="modal-body">
        <%= f.input :first_name %>
        <%= f.input :last_name %>
        <%= f.input :email %>
        <%= f.input :gender, collection: @genders, value_method: 'id', label_method: 'description' %>
        <%= f.input :city %>
        <%= f.input :born_on, as: :string, input_html: {class: 'calendar', 'data-date-format' => "yyyy-mm-dd"} %>
        <%= f.input :password %>
        <%= f.input :password_confirmation, label: 'Confirm Password' %>
    </div>
    <div class="modal-footer">
        <%= f.button :submit, 'register', :class => 'btn btn-primary' %>
    </div>
<% end %>