<%= form_for(@athlete) do |f| %>
  <% if @athlete.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@athlete.errors.count, "error") %> prohibited this athlete from being saved:</h2>

      <ul>
      <% @athlete.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <%= f.label :first_name %><%= f.text_field :first_name %><br/>
  <%= f.label :last_name %><%= f.text_field :last_name %><br/>
  <%= f.label :user_name %><%= f.text_field :user_name %><br/>
  <%= f.label :gender %><%= f.select(:gender, @genders.collect {|l| [ l.description, l.id ] }, { :include_blank => true }) %><br/>
  <%= f.label :city %><%= f.text_field :city %><br/>
  <%= f.label :born_on %><%= f.text_field :born_on, :class => 'calendar' %><br/>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
