<%= form_tag(athletes_path, :method => "post") do %>
<fieldset>   
    <ol>   
    <li><%= label_tag :first_name %><%= text_field_tag :first_name %></li>
    <li><%= label_tag :last_name %><%= text_field_tag :last_name %></li>
    <li><%= label_tag :user_name %><%= text_field_tag :user_name %></li>
    <li><%= label_tag :gender %><%= select_tag(:gender, @genders.collect {|l| [ l.description, l.id ] }, { :include_blank => true }) %></li>
    <li><%= label_tag :city %><%= text_field_tag :city %></li>
    <li><%= label_tag :born_on %><%= text_field_tag :born_on, '', {:class => 'calendar'} %></li>
    <li><%= label_tag :password %><%= password_field_tag :password %></li>
    <li><%= label_tag :confirm_password %><%= password_field_tag :confirm_password %></li></ol></fieldset> 

  <fieldset class="submit">
    <%= submit_tag %></fieldset>
<% end %>
