<script type="text/javascript" charset="utf-8">
  jQuery(document).ready(function() {
    
  var recentRunGradesChart = new Highcharts.Chart({
    chart: { defaultSeriesType: "line", renderTo: "recent_run_grades" },
    title: { text: '<%= "recent running grades for #{@athlete.name}" %>' },
    credits: { enabled: false },
    legend: { enabled: false },
    tooltip: { formatter: function() { return this.point.name + ': ' + this.y; } },
    xAxis: { 
      title: { text: "race" },
      categories: [
      <% @recent_run_grades.each do |grade| %>
        <%= "'#{grade[0]}', " %>
      <% end %>
      ]
    },
    yAxis: { title: { text: "grade" }, min: 0, max: 100 },
    series: [{
      data: [
        <% @recent_run_grades.each do |grade| %>
        <%= "{ name: '#{grade[1]}', y: #{grade[2]} }," %>
        <% end %>
      ]
    }]
  });
  
  var recentRunSummariesChart = new Highcharts.Chart({
    chart: { defaultSeriesType: "column", renderTo: "recent_run_summaries" },   
    title: { text: '<%= "recent running races for #{@athlete.name}" %>' },    
    credits: { enabled: false },    
    xAxis: {     
    categories: ['everyone', 'gender', 'division', 'me'] },    
    yAxis: { title: { text: 'grade' }, min: 0, max: 100 },
    series: [
      <% @recent_run_summaries.each do |race_name, race_summary| %>
        {
          name: '<%= race_name %>',
          data: [<%= "#{race_summary['everyone']},#{race_summary['gender']},#{race_summary['div']},#{race_summary['me']}" %>]
        },
      <% end %>
    ]
  });
  
  });
</script>


<p id="notice"><%= notice %></p>

<p>
  <b>name:</b>
  <%=h @athlete.name %>
</p>

<div id="recent_run_grades" style="width:700px; height:300px;"></div>

<p/>

<div id="recent_run_summaries" style="width:700px; height:300px;"></div>

<p/>

<div class="accordion">

  <% ['friend','rival','other'].each do |type| %>
	  <h3><a href="#"><%= type.pluralize %></a></h3>
	  <div>
	  	<table cellspacing="0" cellpadding="5">
	      <tr><th>name</th><th>time</th><th>grade</th></tr>
		  <% @athlete.participations_by_race(type).each do |p| %>
		    <tr>
			  <td><%= p.result.name %></td>
			  <td><%= seconds_to_time(p.result.gun_time) %></td>
			  <td><%= number_to_percentage(p.result.grade) %></td>
			</tr>
	      <% end %>
		  </table>
	  </div>
  <% end %>

</div>
