<script type="text/javascript" charset="utf-8">
  
  var runs = [];
  var race_dates = [];
  var my_grades = [];
  var summaries = [];
  <% @run_summaries.each do |race_name, summary| %>
    race_dates.push('<%= "#{summary['date']}" %>');
    my_grades.push(<%= "{ name: '#{race_name}', y: #{summary['me']} }" %>);
    summaries.push(<%= "{ name: '#{race_name}', data: [#{summary['everyone']}, #{summary['gender']}, #{summary['div']}, #{summary['me']}]}" %>);
    runs.push(<%= "{ name:'#{race_name}', date:'#{summary['date']}', me:'#{summary['me']}', div:'#{summary['div']}', gender:'#{summary['gender']}', everyone:'#{summary['everyone']}'}" %>);
  <% end %>
  
  jQuery(document).ready(function() {
    
    var runGradesChart = new Highcharts.Chart({
      chart: { defaultSeriesType: "line", renderTo: "run_grades_chart" },
      title: { text: '<%= "running grades for #{@athlete.name}" %>' },
      credits: { enabled: false },
      legend: { enabled: false },
      tooltip: { formatter: function() { return this.point.name + ': ' + this.y; } },
      xAxis: { 
        title: { text: "race" },
        labels: { rotation: 90, align: 'left'},
        categories: race_dates
      },
      yAxis: { title: { text: "grade" } },
      series: [{data: my_grades}]
    });

    var runSummariesChart = new Highcharts.Chart({
      chart: { defaultSeriesType: "column", renderTo: "run_summaries" },   
      title: { text: '<%= "running races for #{@athlete.name}" %>' },    
      credits: { enabled: false },    
      xAxis: {     
      categories: ['everyone', 'gender', 'division', 'me'] },    
      yAxis: { title: { text: 'grade' }, min: 0, max: 100 },
      series: summaries
    });
    
    jQuery('#redraw').button().click(function() {
      var newGrades = [];
      var newCategories = [];
      //iterate selected options
      jQuery("select#races option:selected").each(function () {
        var selectedOption = $(this).text()
        //find the grade for the current selected option
        jQuery.each(runs, function(index, value) {
          if(selectedOption == value.name) {
            //put it in the new series for the chart
            newGrades.push({name: value.name, y: value.me});
            newCategories.push(value.date);
          }
        });
      });
      runGradesChart.xAxis[0].setCategories(newCategories, false);
      runGradesChart.series[0].remove(false);
      runGradesChart.addSeries({data: newGrades}, true);
    });
  });
</script>

<p id="notice"><%= notice %></p>

<p>
  <b>name:</b>
  <%=h @athlete.name %>
</p>

<%= select_tag(:races, participation_options_in_race_order(@athlete), { :multiple => true, :id => 'races'}) %>
<button id="redraw">redraw chart</button>


<div id="run_grades_chart" style="width:700px; height:300px;"></div>

<p/>

<div id="run_summaries" style="width:700px; height:300px;"></div>

<p/>

<div class="tabs">
  <ul>
    <% ['friend','rival','other'].each do |type| %>
    <li><a href="#<%= type %>"><%= type.pluralize %></a></li>
    <% end %>
  </ul>

  <% ['friend','rival','other'].each do |type| %>
    <div id="<%= type %>">        
      <% @athlete.participations_by_race(type).each do |race,p_list| %>
      <b><%= "#{race.name} - #{race.race_on}" %></b>
      <table cellspacing="0" cellpadding="5">
        <tr><th>name</th><th>time</th><th>grade</th></tr>
        <% p_list.each do |p| %>
          <tr>
            <td><%= p.result.name %></td>
            <td><%= seconds_to_time(p.result.gun_time) %></td>
            <td><%= number_to_percentage(p.result.grade) %></td></tr>
        <% end %>
      </table>
      <% end %>
    </div>
  <% end %>

</div>
