<p id="notice"><%= notice %></p>

<p>
  <b>First name:</b>
  <%=h @athlete.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%=h @athlete.last_name %>
</p>

<p>
  <b>City:</b>
  <%=h @athlete.city %>
</p>

<%= link_to 'Edit', edit_athlete_path(@athlete) %> |
<%= link_to 'Back', athletes_path %>

<table class="vis recent_run_summaries">
	<caption>recent running races for <%=h @athlete.name %></caption>
	<thead>
	<tr>
	  <td></td>
	  <th scope="col">everyone</th>
	  <th scope="col"><%= @athlete.gender.description %></th>
	  <th scope="col">division</th>
	  <th scope="col">me</th>
	</tr>
	</thead>
	<tbody>
	    <% @recent_run_summaries.each {|race_name, race_summary| %>
		<tr>
	      <th scope="row"><%=h race_name %></th>

		  <td><%= race_summary['everyone'] %></td>
	      <td><%= race_summary['gender'] %></td>
	      <td><%= race_summary['div'] %></td>
	      <td><%= race_summary['me'] %></td>
	    </tr>
		<% } %>
	</tbody>
</table>

<table class="vis recent_run_grades">
	<caption>recent running races for <%=h @athlete.name %></caption>
	<thead>
	<tr>
	  <td></td>
	  <% @recent_run_grades[0].each {|race_name| %>
	  <th scope="col"><%= race_name %></th>
	  <% } %>
	</tr>
	</thead>
	<tbody>
	    
		<tr>
		  <th scope="row">grades</th>
		  <% @recent_run_grades[1].each {|grade| %>
		  <td><%= grade %></td>
		  <% } %>
		</tr>
		
	</tbody>
</table>

