<%= form_with(url: load_results_path(@race), local: true, html: { multipart: true }) do |f| %>
    <div class="form-group row">
        <%= f.label(:datafile, 'from', class: 'col-sm-2 text-right') %>
        <div class="col-sm-10">
            <%= f.file_field(:datafile, class: 'form-control') %>
        </div>
    </div>
    <div class="form-group row">
        <%= f.label(:first_name_index, class: 'col-sm-2 text-right') %>
        <div class="col-sm-4">
            <%= f.text_field(:first_name_index, class: 'form-control') %>
        </div>
        <%= f.label(:last_name_index, class: 'col-sm-2 text-right') %>
        <div class="col-sm-4">
            <%= f.text_field(:last_name_index, class: 'form-control') %>
        </div>
    </div>
    <div class="form-group row">
        <%= f.label(:city_index, class: 'col-sm-2 text-right') %>
        <div class="col-sm-4">
            <%= f.text_field(:city_index, class: 'form-control') %>
        </div>
        <%= f.label(:club_index, class: 'col-sm-2 text-right') %>
        <div class="col-sm-4">
            <%= f.text_field(:club_index, class: 'form-control') %>
        </div>
    </div>
    <div class="form-group row">
        <%= f.label(:age_index, class: 'col-sm-2 text-right') %>
        <div class="col-sm-4">
            <%= f.text_field(:age_index, class: 'form-control') %>
        </div>
        <%= f.label(:bib_index, class: 'col-sm-2 text-right') %>
        <div class="col-sm-4">
            <%= f.text_field(:bib_index, class: 'form-control') %>
        </div>
    </div>
    <div class="form-group row">
        <%= f.label(:div_index, class: 'col-sm-2 text-right') %>
        <div class="col-sm-4">
            <%= f.text_field(:div_index, class: 'form-control') %>
        </div>
        <%= f.label(:div_place_index, class: 'col-sm-2 text-right') %>
        <div class="col-sm-4">
            <%= f.text_field(:div_place_index, class: 'form-control') %>
        </div>
    </div>
    <div class="form-group row">
        <%= f.label(:overall_place_index, class: 'col-sm-2 text-right') %>
        <div class="col-sm-4">
            <%= f.text_field(:overall_place_index, class: 'form-control') %>
        </div>
        <%= f.label(:gun_time_index, class: 'col-sm-2 text-right') %>
        <div class="col-sm-4">
            <%= f.text_field(:gun_time_index, class: 'form-control') %>
        </div>
    </div>
    <div class="form-group row">
        <%= f.label(:chip_time_index, class: 'col-sm-2 text-right') %>
        <div class="col-sm-4">
            <%= f.text_field(:chip_time_index, class: 'form-control') %>
        </div>
        <%= f.label(:penalty_time_index, class: 'col-sm-2 text-right') %>
        <div class="col-sm-4">
            <%= f.text_field(:penalty_time_index, class: 'form-control') %>
        </div>
    </div>
    <div class="form-group row text-right">
        <div class="col">
            <%= submit_tag 'upload', class: 'btn btn-primary' %>
        </div>
    </div>
<% end %>