<td><%= link_to(result.name, result_path(result)) %></td>
<td><%= result.overall_place %></td>
<td><%= result.div %></td>
<td><%= number_with_precision(result.points, :precision => 2) %></td>
<td><%= number_with_precision(result.grade, :precision => 2) %></td>
<td><%= link_to('kill', result_path(result), :method => :delete, :remote => true) %></td>