<script type='text/javascript' src='https://www.google.com/jsapi'></script>
<script type='text/javascript'>

  var gunTime = <%= @result.gun_time %>;
  var maleWavaFactors = new Array();
  var femaleWavaFactors = new Array();
  <% for wava in @result.wavas %>
    <% if wava.gender == 10 %>
      maleWavaFactors[<%= wava.age %>] = <%= wava.factor %>;
    <% end %>
    <% if wava.gender == 11 %>
      femaleWavaFactors[<%= wava.age %>] = <%= wava.factor %>;
    <% end %>
  <% end %>

  jQuery(document).ready(function() {
  
    var my_guage = Raphael.fn.speedometer("my_guage",200,200);
    my_guage.setOptions({
      startNumber:0,
      endNumber:100,
      numNumbers:10
    });
    my_guage.accelerate(<%= number_with_precision(@result.grade, :precision => 2) %>);
    my_guage.scrollTo(<%= number_with_precision(@result.grade, :precision => 2) %> * 10);
    
    var winner_guage = Raphael.fn.speedometer("winner_guage",200,200);
    winner_guage.setOptions({
      startNumber:0,
      endNumber:100,
      numNumbers:10
    });
    winner_guage.accelerate(<%= number_with_precision(@result.div_winner.gun_time.to_f / @result.gun_time * 100, :precision => 2) %>);
    winner_guage.scrollTo(<%= number_with_precision(@result.div_winner.gun_time.to_f / @result.gun_time * 100, :precision => 2) %> * 10);
  
    jQuery("#ageSlider").slider({
      min: 8, 
      max: 75,
      value: <%= @result.age %>,
      change: function(event, ui) {
        $("#age").val( ui.value );
          my_guage.accelerate(maleWavaFactors[ui.value] / gunTime * 100);
          my_guage.scrollTo(maleWavaFactors[ui.value] / gunTime * 100 * 10);
          //winner_guage.accelerate(ui.value);
          //winner_guage.scrollTo(ui.value * 10);
      }
    });
    $("#age").val($("#ageSlider").slider("value"));

  });
    
</script>

<p id="notice"><%= notice %></p>

<p>
  age graded score:
  <b><%=number_with_precision(@result.grade, :precision => 2) %></b><br/>
  <%=h @result.div %> winner finished in
  <b><%=number_to_percentage(@result.div_winner.gun_time.to_f / @result.gun_time * 100, :precision => 2) %></b> of my time.
</p>

<div id="my_guage" style="float:left;"></div>
<div id="winner_guage" style="float:left;"></div>
<div style="clear:both;"/>

what if my age was:<input type="text" id="age" style="border:0; color:#f6931f; font-weight:bold;" /><br/>
<div id="ageSlider"></div>
what if my gender was:<br/>
<input type="radio" name="gender" value="10" <%= @result.gender == 10 ? 'checked=\"true\"' : '' %>> male<br/>
<input type="radio" name="gender" value="11" <%= @result.gender == 11 ? 'checked=\"true\"' : '' %>> female<br/>

<div id="val"></div>


<%= link_to 'Edit', edit_result_path(@result) %> |
<%= link_to 'Back', results_path %>
