<% form_tag(:action => 'authenticate') do %>
       
  <fieldset>   
    <ol>   
    <li><%= label(:person, :user_name) %>
        <%= text_field('person', 'user_name', :size => '15', :class => 'text') %></li>
      
    <li><%= label(:person, :password) %>
        <%= password_field('person', 'password', :size => '15', :class => 'text') %></li></ol></fieldset>
  <fieldset class="submit">  
    <%= submit_tag('login') %></fieldset>
      
<% end %>