<%= form_tag(:action => :create) do %>
       
  <fieldset>   
    <ol>   
    <li><%= label(:person, :user_name) %>
        <%= text_field_tag('user_name', '', :size => '15', :class => 'text') %></li>
      
    <li><%= label(:person, :password) %>
        <%= password_field_tag('password', '', :size => '15', :class => 'text') %></li></ol></fieldset>
  <fieldset class="submit">  
    <%= submit_tag('login') %></fieldset>
      
<% end %>