<!-- fixed navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top ">
    <%= link_to('how\'d i do?', root_path, class: 'navbar-brand') %>
    <ul class="navbar-nav ml-auto">
        <li>
            <%= form_tag(races_path, method: 'get', class: 'form-inline ml-auto') do %>
                <%= hidden_field_tag :direction, params[:direction] %>
                <%= hidden_field_tag :sort, params[:sort] %>
                <%= search_field_tag(:q, params[:q], placeholder: 'find a race', class: 'form-control') %>
            <% end %>
        </li>
    </ul>
    <ul class="navbar-nav">
        <li>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse">
                <% if user_signed_in? %>
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="signed-in-menu" role="button" data-toggle="dropdown">
                                <%= current_user.email %>
                            </a>
                            <div class="dropdown-menu">
                                <%= link_to "my results", participations_path, class: 'dropdown-item' %>
                                <div class="dropdown-divider"></div>
                                <%= link_to 'edit profile', edit_user_registration_path, class: 'dropdown-item' %>
                                <%= link_to "logout", destroy_user_session_path, method: :delete, class: 'dropdown-item' %>
                            </div>
                        </li>
                    </ul>
                <% else %>
                    <%= link_to "Sign up", new_user_registration_path, class: 'nav-link'  %> |
                    <%= link_to "Login", new_user_session_path, class: 'nav-link'  %>
                <% end %>
            </div><!--/.navbar-collapse -->
        </li>
    </ul>
</nav>
