<!DOCTYPE html>
<html>
<head>
    <title>how'd i do</title>
    <%= stylesheet_link_tag 'application' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
</head>

<body>
    <!-- hidden elements -->
    <div id="register-form" class="modal fade hide"></div>
	<div id="log-in-form" class="modal fade hide"></div>
    
    <!-- header -->
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container-fluid">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <%= link_to("how'd i do?", root_path, :class => 'brand') %>
                
                <div class="nav-collapse">
                    <ul class="nav">
                        <li class="active"><%= link_to('races', races_path ) %></li>
                        <li><%= link_to('users', users_path ) %></li>
                        <li><a href="#contact">Contact</a></li>
                    </ul>
                    <p class="navbar-text pull-right" id="user_session">
                    <% if session[:user_session] %>
                      	<%= render(:partial => 'sessions/info') %>
                    <% else %>
                		<%= link_to('log in', new_session_path, :remote => 'true') %> |
                		<%= link_to('register', new_user_path, :remote => 'true') %>	
                    <% end %>
                    </p>
                    <%= form_tag(races_path, :method => 'get', :class => 'navbar-search pull-left') do %>
                        <%= hidden_field_tag :direction, params[:direction] %>
                        <%= hidden_field_tag :sort, params[:sort] %>
                        <%= search_field_tag(:search, params[:search], :placeholder => 'find a race', :class => 'search-query') %>
                    <% end %>
                </div><!--/.nav-collapse -->
            </div>
        </div>
    </div>
    
    <!-- main content -->
	<div id="content" class="container">
		<div class="row-fluid">   
            <div class="span12">
                <%= notice %>
                <%= warning %>
                <%= yield %>
            </div>
        </div> <!-- end row -->
        
        <hr>
        <footer>
            <p>
                &copy <%= Date.today.year %> raceweb.ca victoria bc<br>
                all rights reserved<br>
                email: <a href="mailto:info@raceweb.ca">info@raceweb.ca</a>
            </p>
        </footer>
        
    </div> <!-- end content -->
    
    

</body>
</html>
