<!DOCTYPE html>
<html>
<head>
    <title>raceweb - how'd i do</title>
    <meta name="description" content="raceweb photo galleries"/>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <link rel="shortcut icon" href="/favicon.ico" />
    <%= csrf_meta_tags %>
    <!-- Placed at the end of the document so the pages load faster -->
    <%= javascript_include_tag 'application' %>
    <% if Rails.env.production? %>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-83838015-2"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());
          gtag('config', 'UA-83838015-2');
        </script>
    <% end %>
</head>
<body>
    <%= render 'layouts/navbar' %>

    <div class="container-fluid">
        <% flash.each do |key, value| %>
            <% type = 'success' if key == 'notice'; type = 'danger' if key == 'alert'; %>
            <div class="alert alert-<%= type %> alert-dismissible fade show" role="alert">
                <strong><%= key.capitalize %>:</strong> <%= value %>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        <% end %>
        <!-- MAIN CONTENT -->
        <%= yield %>
        <!-- END MAIN CONTENT -->
    </div> <!-- end container-fluid -->

    <!-- hidden modal forms -->
    <div id="modal-dialog" class="modal"></div>

    <footer>
        <div>
            <!--
            <script type="text/javascript">
            google_ad_client = "ca-pub-2435759852249095";
            google_ad_slot = "2751979843";
            google_ad_width = 468;
            google_ad_height = 60;
            </script>
            <script type="text/javascript" src="http://pagead2.googlesyndication.com/pagead/show_ads.js"></script>
            -->
        </div>
        <div class="text-right mr-5">
            &copy; <%= Date.today.year %> <a href="mailto:info@raceweb.ca" rel="tooltip" title="email address">raceweb.ca</a>
        </div>
    </footer> <!-- end footer -->
</body>
</html>
